body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
h1 {
    font-family: 'Inter', sans-serif;
    font-size: 65px;
    font-weight: 700;
    text-align: center;
}
h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 45px;
    text-align: center;
}
h3{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 24px;
}
.container {
    width: 90%;
    margin: 0 auto;
}
.align-center {
    text-align: center;
}
input:focus {
    outline: none;
}
.donate-button{
    background: #FF5959;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 20%;
    margin: 30px auto;
    padding: 15px 5px;
    border-radius: 5px;
    border: none;
}
#community-button {
    background: #FF5959;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 40%;
    margin: 30px 0;
    padding: 15px 5px;
    border-radius: 5px;
    border: none;
}

/* Header Section */

header {
    background: url(images/donation4.jpg) no-repeat 0 0 / 100% 100%;
    /* background: linear-gradient(#ffffff, #121212); */
    padding: 150px;
}
#main-heading {
    color: #ffffff;
}
header p {
    color: #ffffff;
}

/* Donate Today */

.donate-today {
    padding: 50px;
}


.donate-today ul {
    width: 70%;
    margin: 50px auto;
}

.donate-today ul li {
    display: inline-block;
    padding: 35px 15px;
    font-size: 30px;
    font-family: "inter";
    font-weight: 700;
    text-align: center;
    border-radius: 5px;
}
.donatation-active {
    border: 1px solid #FF5959;
    color: #FF5959;
    background-color: #FFEEEE;
}
#ammount {
    width: 60%;
    margin: 0 auto;
    display: block;
    border: none;
    border-bottom: 1px solid #1E1E1E;
    padding: 10px 0;
    text-align: center;
    font-size: 18px;
}



/* 
donate Plan
*/
.plan {
    padding: 50px 0;
}
.donate-plan-container {
    display: flex;
    margin-top: 40px;
}
.donate-plan{
    padding: 70px  40px 50px 40px;
    border-radius: 10px;
}
.food-family {
    background-color: #EDF5F6;
}
.shelter-family {
 background-color: #FFEEEE;
 margin: 0 30px;
}
.education {
    background-color: #FFF4D6;
}
/* community */

.community {
    display: flex;
    background: url(images/community.png) no-repeat center center / 100% 100%;
    padding: 100px;
}
.half-way {
    width: 46%;
    margin: 2%;
}

/* Subscription Section */
.subscription {
    padding: 100px 0;
}

.subscription-form {
    background-color: #FFF4D6;
    padding: 100px 100px;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    display: flex;
}

.subscription-form input{
    padding: 15px;
    border: none;
}
.subscription-form input[type="email"]{
    width: 60%;
    background: #D9D9D9;
    border-radius: 10px 0 0 10px;
}
.subscription-form input[type="submit"]{
    width: 40%;
    background: #FF5959;
    color: #ffffff;
    border-radius: 0 10px 10px 0;
}

/* Footer */
footer {
    background: #0B0D17;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    
}
#sitename {
    color: #FF5959;
}